* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

section {
    background-color: grey ;
    height: 600px;
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

h1 {
    text-indent: 0;
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: max(50px, 2vw);
}

header {
    background-color: black;
    color: white;
}

header > p {
    text-align: center;
}

.girassol {
    background: green url('imagens/background001.jpg') center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.girassol > p {
    background-color: rgba(0, 0, 0, 0.582);
    max-width: 50%;
    color: white;
    padding: 25px 10px 25px 10px;
    
}

.livro > p {
    background-color: rgba(0, 0, 0, 0.582);
    max-width: 50%;
    color: white;
    padding: 25px 10px 25px 10px;
}

.livro {
    background: green url('imagens/background002.jpg') center no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    position: relative;
    top: 25%;
    line-height: 30px;
    font-size: max(20px, 1vw);
    margin-bottom: 50px;
}

.duplo {
    height: 850px;
}

.duplo > p {
    top: 35%;
}